@* editProduct Template File *@
@(productForm:Form[Product])(implicit lang:Lang, flash:Flash)

@import helper._
@import helper.twitterBootstrap._

@main(Messages("products.form")) {
	<h2> @Messages("products.form")</h2>
	@helper.form(action=routes.Products.save()) {
	<fieldset>
		<legend>
			@Messages("products.details", Messages("products.new"))
		</legend>
		@helper.inputText(productForm("ean"))
		@helper.inputText(productForm("name"))
		@helper.inputText(productForm("description"))
	</fieldset>
	<p><input type="submit" class="btn primaty"
		value='@Messages("products.new.submit")'></p>
	}	
}
